# fly.toml app configuration file generated for annie on 2023-12-21T14:38:24-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "annie"
primary_region = "tor"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[env]
  IRC_CHANNEL = "#emb"
  IRC_NICK = "annnie"
  IRC_SERVER = "irc.libera.chat:6697"
  PORT = "8080"
  ROOT_URL = "https://annie.fly.dev"
  SQLITE_DB = "/data/annie.db"
  EVOKE_DB = "/data/evoke.db"
  IMAGE_FILE_BASE = "/data/images"

[[mounts]]
  source = "annie_data"
  destination = "/data"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0
