<html>
    <head>
        <title>{{.image.Prompt}}</title>
        <style>
         body {
             font-family: monospace;
             background: black;
             color: white;
             max-width: 1000px;
             margin: auto;
         }
         img {
             display: block;
             max-height: 60vh;
             margin: auto;
             transition: max-height 100ms;
             transition-timing-function: ease-in-out;
         }
         img:hover {
             max-height: 100vh;
         }
        </style>

        <meta property="og:image" content="{{.absoluteImageURL}}" />
        <meta property="og:title" content="{{.image.Prompt}}" />
        <script>
          fetch("/snarf-timezone", {method: "POST", headers: {"X-Timezone": Intl.DateTimeFormat().resolvedOptions().timeZone}});
        </script>
    </head>
    <body>
        <img src="/images/{{.image.ID}}.png" alt="{{.image.Prompt}}">

        <h1>{{.image.Prompt}}</h1>

        <ul>
            <li>created_at: {{.image.CreatedAt}}</li>
            <!-- <li>model: dall-e-3</li>
                 <li>revised_prompt: {{.image.RevisedPrompt}}</li>
                 <li>data from: <a href="https://www.daysoftheyear.com/today/">https://www.daysoftheyear.com/today/</a></li> -->
        </ul>

    </body>
</html>
